<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>McGill</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<header>
    <nav class="red lighten-2" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo white-text">McGill</a>
            <ul class="right">
                <li><a th:href="@{/books}" class="white-text">Libros</a></li>
                <li><a th:href="@{/authors}" class="white-text">Autores</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="section">
        <div th:switch="authors" class="container">
            <div th:case="*" class="row">
                <div class="col s12 center">
                    <h4>Lista de Autores</h4>
                    <div class="row center">
                        <a th:href="@{/authors/add}" class="waves-effect waves-light btn">Nuevo Autor</a>
                    </div>
                    <br>
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th scope="col">DNI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ape. Paterno</th>
                            <th scope="col">Ape. Materno</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Biografía</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="author : ${authors}">
                            <th scope="row" th:text="${author.dni}"></th>
                            <td th:text="${author.firstName}"></td>
                            <td th:text="${author.lastNameFather}"></td>
                            <td th:text="${author.lastNameMother}"></td>
                            <td th:text="${author.age}"></td>
                            <td th:text="${author.biography}"></td>

                            <td>
                                <div>
                                    <a th:href="@{/authors/edit/{dni}
                                    (dni=${author.dni})}"
                                       class="waves-effect waves-light btn-small">Editar
                                    </a>
                                    <a th:href="@{/authors/delete/{dni}
                                (dni=${author.dni})}"
                                       class="waves-effect waves-light btn-small red lighten-1">Eliminar
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>