<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Nuevo Libro</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h3 class="center">Nuevo Libro</h3>
    <br>
    <div class="row">
        <div class="section col s12 l6 offset-l3">
            <form action="#" method="post"
                  th:object="${book}"
                  th:action="@{/books/save}"
            >

                <div class="input-field">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="class-controller"
                           id="isbn"
                           th:field="*{isbn}"
                    >
                </div>

                <div class="input-field">
                    <label for="title">Titulo</label>
                    <input type="text" class="class-controller"
                           id="title"
                           th:field="*{title}"
                    >
                </div>

                <div class="input-field">
                    <label for="summary">Resumen</label>
                    <input type="text" class="class-controller"
                           id="summary"
                           th:field="*{summary}"
                    >
                </div>

                <div class="input-field">
                    <label for="publicationDate">Fecha de Publicacion</label>
                    <input type="date" class="class-controller"
                           id="publicationDate" placeholder="Fecha"
                           th:field="*{publicationDate}"
                    >
                </div>

                <div class="input-field">
                    <label for="numberOfPages">N. Paginas</label>
                    <input type="number" class="class-controller"
                           id="numberOfPages"
                           th:field="*{numberOfPages}"
                    >
                </div>

                <div class="input-field">
                    <label for="language">Idioma</label>
                    <input type="text" class="class-controller"
                           id="language"
                           th:field="*{language}"
                    >
                </div>
                <button type="submit" class="btn">
                    Confirmar
                </button>
                <a th:href="@{/books}" class="btn red lighten-1">Atras</a>

            </form>
        </div>
    </div>
</div>

<!--  Scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>